* {
	box-sizing: border-box;
}

body {
	backgorund-color: gainsboro;
}

.data {
	background-color: white;
	padding: 20px;
	display: block;
	width: 80%;
	margin: auto;
	margin-bottom: 30px;
}

h1 {
	display: block;
	padding-top: 30px;
	padding-left: 10%;
	padding-right: 10%;
	font-family: arial;
}